# ルール

## プロジェクト概要 (`README.md`)

- 必要に応じて `README.md` を読み、プロジェクトの概要を把握すること。
- 必要ならば更新すること。

## TODO (`docs/dev/todo.md`)

必要に応じて `todo.md` を確認し、適切に更新すること。

## テスト

機能追加、更新時はテストを実行し、必要に応じて追加・修正すること。

## その他
- 簡素さを優先すること。
- エラーハンドリングは基本気にしなくていい。
