# Dependencies
node_modules

# Production build
dist

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# Test coverage
coverage

# OS files
.DS_Store

# environment variables
.env

# output files
output
.youtube-flashcard

# test data
data
